body{
    background-image: url('https://images3.alphacoders.com/705/705391.jpg');
    background-position: center;
    background-size: cover;
}

#signup{
    display: flex;
    margin-top: 5%;
    margin-left: 5%;
    width: 400px;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 20px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.7);
    border-radius: 50px;
}

@media(max-width:700px){
    h1{
        font-size:15px;
    }
}

@media(max-width:700px){
    #signup{
        width:250px;
        margin-left:0%;
        padding:10px;
    }
}

#parrot{
    height: 100px;
    width: 100px;
}

@media(max-width:700px){
    #parrot{
        height:50px;
        width:50px;
    }
}

label{
    font-style: italic;
    font-size: 25px;
    margin: 30px;
}

@media(max-width:700px){
    label{
        font-size:15px;
        margin:20px;
    }
}

.error{
    background-color: rgb(170, 0, 0);
    font-size: 15px;
    padding: 30px;
    color: white;
}

@media(max-width:700px){
    .error{
        padding:15px;
    }
}

label input{
    margin-top: 20px;
    width: 350px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    padding: 10px;
    font-size: 17px;
}

@media(max-width:700px){
    label input{
        font-size:15px;
        width:150px;
        padding: 8px;
    }
}

#button{
    border: 0px;
    border-radius: 40px;
    background-color: lightslategray;
    color: white;
    padding: 10px;
    font-size: 25px;
}

@media(max-width:700px){
    #button{
        font-size: 15px;
    }
}

#button:hover{
    background-color: darkgreen;
    padding: 8.5px;
    border: 2px solid black;
}

p{
    font-size:20px;
    text-align: center;
}

@media(max-width:700px){
    p{
        font-size:15px;
    }
}

a{
    text-decoration: none;
    border-radius: 40px;
    background-color: lightslategray;
    color: white;
    padding: 5px;
    font-size: 20px;
}

@media(max-width:700px){
    a{
        font-size:15px;
    }
}

a:hover{
    background-color: darkgreen;
}
